<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>Index page</title>
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container">
            <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarToggleExternalContent">
                <ul class="navbar-nav mr-auto">
                    <a class="btn btn-dark font-weight-bold" th:href="@{/}">Home</a>
                    <a class="btn btn-dark font-weight-bold" th:href="@{/competitionsBase}">Leagues Base</a>
                    <a class="btn btn-dark font-weight-bold" th:href="@{/user/leagues/myLeagues}">Leagues</a>
                    <a class="btn btn-dark font-weight-bold" th:href="@{/user/teams/myTeams}">Teams</a>
                    <a class="btn btn-dark font-weight-bold" th:href="@{/user/players/myPlayers}">Players</a>
                    <a sec:authorize="hasRole('ADMIN')" class="btn btn-dark font-weight-bold" th:href="@{/admin/index}">Admin Panel</a>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <form class="form-inline my-2 my-lg-0 mx-auto" action="#" th:action="@{/search}" method="GET">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" th:name="phrase">
                        <button class="btn btn-success my-2 my-sm-0 mx-auto" type="submit">Search</button>
                    </form>
                    <a class="btn btn-dark font-weight-bold" th:href="@{/logout}">Log Out</a>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container" align="center">


    <form action="#" th:action="@{/user/matches/saveMatch}"
          th:object="${match}" method="POST">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{user}">
        <input type="hidden" th:field="*{league}">



        <div class="border border-light rounded p-2 mx-9 my-4 bg-light text-dark">
            <br>
            <h1>Match Details</h1>
            <br>
            <div class="mb-3 row d-flex justify-content-center">
                <div class="mx-4" style="width: 300px;">
                    <select class="form-control font-weight-bold" th:field="*{host}">
                        <option th:value="0" text="">-----</option>
                        <option th:each="team : ${match.league.participationList}" th:value="${team.id}" th:text="${team.team.name}"></option>
                    </select>
                </div>

                <div class="mx-2 px-1" align="right" style="width: 60px;">
                    <input class="form-control pl-2" type="number" th:field="*{hostScore}" placeholder="-">
                </div>

                <div class="mt-1 align-middle"> : </div>

                <div class="mx-2 px-1" align="left" style="width: 60px;">
                    <input class="form-control px-2" type="number" th:field="*{guestScore}" placeholder="-">
                </div>

                <div class="mx-4" style="width: 300px;">
                    <select class="form-control font-weight-bold" th:field="*{guest}">
                        <option th:value="0" text="">-----</option>
                        <option th:each="team : ${match.league.participationList}" th:value="${team.id}" th:text="${team.team.name}"></option>
                    </select>
                </div>
            </div>
            <!--<input type="date" th:field="*{date}" >
            <input th:type="text" th:field="*{time}" placeholder="place">-->
            <input class="form-control" style="width: 300px;" th:type="text" th:field="*{pitch}" placeholder="Venue">
            <br>
        </div>


        <div class="d-flex">
            <a  class="btn btn-secondary p2" th:href="@{/user/leagues/manageActiveLeague(leagueId=${match.league.id})}">back to My League</a>
            <button type="submit" class="btn btn-success ml-auto p2">Save changes</button>
        </div>

        <br>
        <h2>Teams:</h2>

        <div class="row d-flex justify-content-center">
            <div>
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th style="width: 60px;"><img width="35" height="35" th:src="@{/images/red-card.png}"/></th>
                    <th style="width: 60px;"><img width="35" height="35" th:src="@{/images/yellow-card.png}"/></th>
                    <th style="width: 60px;"><img width="35" height="35" th:src="@{/images/owngoal.png}"/></th>
                    <th style="width: 60px;"><img width="35" height="35" th:src="@{/images/goal.png}"/></th>
                    <th class="text-right" style="width: 265px;">Player</th>
                    <th style="width: 50px;"></th>
                </tr>
                </thead>

                <tbody>
                    <tr th:each="sheet, itemStat : ${match.scoreSheets}">
                        <span th:if="${sheet.host}">
                        <input type="hidden" th:field="*{acoreSheets[__${itemStat.index}__].id}" >
                        <input type="hidden" th:field="*{scoreSheets[__${itemStat.index}__].user}" >
                        <input type="hidden" th:field="*{scoreSheets[__${itemStat.index}__].match}" >
                        <input type="hidden" th:field="*{acoreSheets[__${itemStat.index}__].player}" >
                            <input type="hidden" th:field="*{scoreSheets[__${itemStat.index}__].host}" >
                        <td class="px-1" style="width: 60px;"><input class="form-control px-2"  type="number" th:field="*{scoreSheets[__${itemStat.index}__].redCards}" ></td>
                        <td class="px-1" style="width: 60px;"><input class="form-control px-2" type="number" th:field="*{scoreSheets[__${itemStat.index}__].yellowCards}" placeholder="-"></td>
                        <td class="px-1" style="width: 60px;"><input class="form-control px-2" type="number" th:field="*{scoreSheets[__${itemStat.index}__].ownGoals}" placeholder="-"></td>
                        <td class="px-1" style="width: 60px;"><input class="form-control px-2" type="number" th:field="*{scoreSheets[__${itemStat.index}__].goals}" placeholder="-"></td>
                        <td class="align-middle" style="width: 265px;" align="right" th:text="${sheet.player.name}+' '+${sheet.player.surname}" />
                        <td class="align-middle pr-4" style="width: 50px;" align="center" th:text="${sheet.player.number}" />
                        </span>
                    </tr>

                </tbody>
            </table>
            </div>

            <div>
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th style="width: 50px;"></th>
                    <th style="width: 265px;">Player</th>
                    <th style="width: 60px;"><img width="35" height="35" th:src="@{/images/goal.png}"/></th>
                    <th style="width: 60px;"><img width="35" height="35" th:src="@{/images/owngoal.png}"/></th>
                    <th style="width: 60px;"><img width="35" height="35" th:src="@{/images/yellow-card.png}"/></th>
                    <th style="width: 60px;"><img width="35" height="35" th:src="@{/images/red-card.png}"/></th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="sheet, itemStat : ${match.scoreSheets}">
                        <span th:if="${!sheet.host}">
                            <input type="hidden" th:field="*{scoreSheets[__${itemStat.index}__].id}" >
                            <input type="hidden" th:field="*{scoreSheets[__${itemStat.index}__].user}" >
                            <input type="hidden" th:field="*{scoreSheets[__${itemStat.index}__].match}" >
                            <input type="hidden" th:field="*{scoreSheets[__${itemStat.index}__].player}" >
                            <input type="hidden" th:field="*{scoreSheets[__${itemStat.index}__].host}" >
                            <td class="align-middle pl-4" style="width: 50px;" align="center" th:text="${sheet.player.number}" />
                            <td class="align-middle" style="width: 265px;" align="left" th:text="${sheet.player.surname}+' '+${sheet.player.name}" />
                            <td class="px-1" style="width: 60px;"><input class="form-control px-2" type="number" th:field="*{scoreSheets[__${itemStat.index}__].goals}" ></td>
                            <td class="px-1" style="width: 60px;"><input class="form-control px-2" type="number" th:field="*{scoreSheets[__${itemStat.index}__].ownGoals}" ></td>
                            <td class="px-1" style="width: 60px;"><input class="form-control px-2" type="number" th:field="*{scoreSheets[__${itemStat.index}__].yellowCards}" ></td>
                            <td class="px-1" style="width: 60px;"><input class="form-control px-2" type="number" th:field="*{scoreSheets[__${itemStat.index}__].redCards}" ></td>
                        </span>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>



    </form>
</div>

</body>

</html>