<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script th:src="@{/webjars/jquery/3.5.0/jquery.js}"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>Index page</title>
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container">
            <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarToggleExternalContent">
                <ul class="navbar-nav mr-auto">
                    <a class="btn btn-dark font-weight-bold" th:href="@{/}">Home</a>
                    <a class="btn btn-dark font-weight-bold" th:href="@{/competitionsBase}">Leagues Base</a>
                    <a sec:authorize="isAuthenticated()">
                        <a class="btn btn-dark font-weight-bold" th:href="@{/user/leagues/myLeagues}">Leagues</a>
                        <a class="btn btn-dark font-weight-bold" th:href="@{/user/teams/myTeams}">Teams</a>
                        <a class="btn btn-dark font-weight-bold" th:href="@{/user/players/myPlayers}">Players</a>
                    </a>
                    <a sec:authorize="hasRole('ADMIN')" class="btn btn-dark font-weight-bold" th:href="@{/admin/index}">Admin Panel</a>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <form class="form-inline my-2 my-lg-0 mx-auto" action="#" th:action="@{/search}" method="GET">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" th:name="phrase">
                        <button class="btn btn-success my-2 my-sm-0 mx-auto" type="submit">Search</button>
                    </form>
                    <a sec:authorize="isAuthenticated()">
                        <a class="btn btn-dark font-weight-bold" th:href="@{/logout}">Log Out</a>
                    </a>
                    <a sec:authorize="!isAuthenticated()">
                        <a class="btn btn-dark font-weight-bold" th:href="@{/login}">Log In</a>
                        <a class="btn btn-dark font-weight-bold" th:href="@{/registration}">Sign up</a>
                    </a>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container" align="center">
    <br>

    <form th:action="@{/competitionsBase}" method="POST">

        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Voivodeship</label>
            <div class="col-sm-9">
                <select class="form-control px-2" th:id="voivodeship" th:name="voivodeship">
                    <div>
                    <span th:if="${voivodeship}==null">
                        <option th:value="0">-----</option>
                        <option th:each="voivodeshipOpt : ${voivodeships}"
                                th:value="${voivodeshipOpt.id}" th:text="${voivodeshipOpt.name}"></option>
                    </span>
                    <span th:unless="${voivodeship}==null">
                        <option th:value="0" >-----</option>
                        <option th:each="voivodeshipOpt : ${voivodeships}" th:selected="${voivodeshipOpt==voivodeship}"
                                th:value="${voivodeshipOpt.id}" th:text="${voivodeshipOpt.name}"></option>
                    </span></div>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">County</label>
            <div class="col-sm-9">
                <select class="form-control px-2" th:id="county" th:name="county">
                    <div>
                        <span th:if="${county}==null">
                            <option th:value="0">-----</option>
                            <option th:each="countyOpt : ${counties}"
                                    th:value="${countyOpt.id}" th:text="${countyOpt.name}"></option>
                        </span>
                        <span th:unless="${county}==null">
                            <option th:value="0" >-----</option>
                            <option th:each="countyOpt : ${counties}" th:selected="${countyOpt==county}"
                                    th:value="${countyOpt.id}" th:text="${countyOpt.name}"></option>
                        </span></div>
                </select>
            </div>
        </div>

        <script type="text/javascript">
            $("#voivodeship").on("change", function () {
                var selectedValue = $(this).children("option:selected").val();
                var url = "/getCountiesFromVoivodeship?" + $.param({"voivodeship": selectedValue});
                var $countySelect = $("#county");
                fetch(url).then(function (response) {
                    response.json().then(function (value) {
                        var jsonik = Object.keys(value);
                        $countySelect.empty();
                        $countySelect.append("<option value=\"" + 0 + "\">" + "-----" + "</option>");
                        jsonik.forEach(function (key) {
                            var option = "<option value=\"" + key + "\">" + value[key] + "</option>";
                            $countySelect.append(option);
                        })
                    })
                })

            })
        </script>
        <div class="d-flex">
            <a class="btn btn-secondary ml-3 my-1" th:href="@{/}">back to Main Page</a>
            <a class="btn btn-secondary ml-auto my-1 mr-3" th:href="@{/competitionsBase}">reset</a>
            <button type="submit" class="btn btn-primary mr-3">Show Results</button>
        </div>
    </form>

    <br>

    <table class="table table-striped ">
        <thead class="thead-dark">
        <tr align="center">
            <th class="text-center" colspan="8"> Leagues</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="pl-4 align-middle font-italic">#</td>
            <td class="align-middle font-italic">League Name</td>
            <td class="pl-4 align-middle font-italic">Status</td>
            <td class="pl-4 align-middle font-italic">Voivodeship</td>
            <td class="pl-4 align-middle font-italic">County</td>
            <td class="pl-4 align-middle font-italic">Teams</td>
            <td class="pl-4 align-middle font-italic">User</td>
            <td class="align-middle font-italic">Action</td>
        </tr>
        <tr th:each="league: ${leagues}">
            <td class="pl-4 align-middle font-weight-bold" th:text="${leagues.indexOf(league)+1}+'.'"/>
            <td class="align-middle font-weight-bold" th:text="${league.name}"/>
            <td class="pl-4 align-middle font-weight-bold" th:switch="${league.status}">
                <span class="badge badge-danger" th:case="${T(com.league.model.enums.Status).INACTIVE}">Inactive</span>
                <span class="badge badge-primary" th:case="${T(com.league.model.enums.Status).TOREGISTER}">Open to register</span>
                <span class="badge badge-success" th:case="${T(com.league.model.enums.Status).ACTIVE}">Active</span>
                <span class="badge badge-secondary"
                      th:case="${T(com.league.model.enums.Status).ARCHIVED}">Archived</span>
            </td>
            <td class="pl-4 align-middle font-weight-bold">
                <span th:if="${league.voivodeship}==null">-</span>
                <span th:unless="${league.voivodeship}==null" th:text="${league.voivodeship.name}"></span>
            </td>
            <td class="pl-4 align-middle font-weight-bold">
                <span th:if="${league.county}==null">-</span>
                <span th:unless="${league.county}==null" th:text="${league.county.name}"></span>
            </td>
            <td class="align-middle font-weight-bold" align="center"
                th:text="${league.acceptedParticipations()}+' / '+${league.number}"/>
            <td class="pl-4 align-middle font-weight-bold" th:text="${league.user.userName}"/>
            <td>
                <a class="btn btn-sm btn-primary" th:href="@{/view/league(leagueId=${league.id})}">Details</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="align-middle font-italic" align="center">
        <span th:if="${leagues.size()}==0">No results</span>
    </div>
    <br>

</div>

</body>
</html>