<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Index page</title>
</head>
<body>
<h1>My Leagues</h1><hr>

<table border = "1">
    <thead>
        <tr>
            <th> - League Name - </th>
            <th> Teams </th>
            <th> Active </th>
            <th> Actions </th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="league: ${leagues}">
            <td th:text="${league.name}" />
            <td th:text="${league.numberOfTeams()}" />
            <td th:text="${league.isStarted()}" />
            <td><a th:href="@{/user/leagues/startLeague(leagueId=${league.id})}">Start of the League | </a>
                <a th:href="@{/user/leagues/manageLeague(leagueId=${league.id})}"> Manage League | </a>
                <a th:href="@{/user/leagues/deleteLeague(leagueId=${league.id})}"
                   onclick="if (!(confirm('Are you sure you want to delete this league?'))) return false"> Delete League</a></td>
        </tr>
    </tbody>

</table>

<p><a th:href="@{/user/leagues/addLeague}">Add League</a></p>
<p><a th:href="@{/user/index}">back to User Panel</a></p>

</body>
</html>