<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Match details page</title>
</head>
<body>
<div class="p-3 mb-2 bg-dark text-white" style="height: 70px;">
    <div class="container d-flex" align="center">
        <a class="btn btn-dark font-weight-bold" th:href="@{/user/index}">Home</a>
        <a class="btn btn-dark font-weight-bold" th:href="@{/competitionsBase}">Competitions Base</a>
        <a class="btn btn-dark font-weight-bold" th:href="@{/user/leagues/myLeagues}">My Leagues</a>
        <a class="btn btn-dark font-weight-bold" th:href="@{/user/teams/myTeams}">My Teams</a>
        <a class="btn btn-dark font-weight-bold" th:href="@{/user/players/myPlayers}">My Players</a>
        <a sec:authorize="hasRole('ADMIN')" class="btn btn-dark font-weight-bold" th:href="@{/admin/index}">Admin Panel</a>
        <form class="ml-auto form-inline my-2 my-lg-0" action="#" th:action="@{/search}" method="GET">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" th:name="phrase">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <a class="ml-auto btn btn-dark font-weight-bold" th:href="@{/logout}">Log Out</a>
    </div>
</div>


<div class="container">
    <br>
    <h1 align="center">My Competitions</h1>
    <br>

    <table class="table table-striped ">
        <thead class="thead-dark">
            <tr>
                <th class="pl-4"> Competition Name </th>
                <th class="text-center"> Teams </th>
                <th class="text-center"> Status </th>
                <th class="text-center"> Actions </th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="league: ${leagues}">
                <td class="pl-4 align-middle font-weight-bold" th:text="${league.name}" />
                <td class="align-middle" align="center" th:text="${league.numberOfTeams()}" />
                <td class="align-middle" align="center" th:switch="${league.status}">
                    <span class="badge badge-danger" th:case="${T(com.league.model.enums.Status).INACTIVE}">Inactive</span>
                    <span class="badge badge-primary" th:case="${T(com.league.model.enums.Status).TOREGISTER}">Open to register</span>
                    <span class="badge badge-success" th:case="${T(com.league.model.enums.Status).ACTIVE}">Active</span>
                    <span class="badge badge-secondary" th:case="${T(com.league.model.enums.Status).ARCHIVED}">Archived</span>
                </td>
                <td class="align-middle" style="width: 400px" align="center">
                    <span th:if="${(!league.enrollment and league.status == T(com.league.model.enums.Status).INACTIVE) || (league.status == T(com.league.model.enums.Status).TOREGISTER)}">
                        <a class="btn btn-success mx-1" th:href="@{/user/leagues/startLeague(leagueId=${league.id})}">Let's start!</a>
                    </span>
                    <span th:if="${league.enrollment and league.status == T(com.league.model.enums.Status).INACTIVE}">
                        <a class="btn btn-primary mx-1" th:href="@{/user/leagues/openRegistration(leagueId=${league.id})}"
                           onclick="if (!(confirm('Are you sure you want to open the registration to this league? You will not be able to change competition settings.'))) return false">Open Registry</a>
                    </span>
                    <span th:if="${!(league.status == T(com.league.model.enums.Status).ARCHIVED)}">
                        <a class="btn btn-dark mx-1" th:href="@{/user/leagues/manageLeague(leagueId=${league.id})}">Manage</a>
                    </span>
                    <span th:if="${(league.status == T(com.league.model.enums.Status).INACTIVE) || (league.status == T(com.league.model.enums.Status).TOREGISTER)}">
                        <a class="btn btn-danger p2" th:href="@{/user/leagues/deleteLeague(leagueId=${league.id})}"
                           onclick="if (!(confirm('Are you sure you want to delete this league?'))) return false">Delete</a>
                    </span>
                    <span th:if="${league.status == T(com.league.model.enums.Status).ACTIVE}">
                        <a class="btn btn-secondary p2" th:href="@{/user/leagues/toArchieve(leagueId=${league.id})}"
                           onclick="if (!(confirm('Are you sure you want to archive this league? There is no return.'))) return false">Archive</a>
                    </span>
                    <span th:if="${league.status == T(com.league.model.enums.Status).ARCHIVED}">
                        <a class="btn btn-secondary mx-1" th:href="@{/view/league(leagueId=${league.id})}">Show View</a>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex">
        <a class="btn btn-secondary my-1 ml-2" th:href="@{/user/index}">back to User Panel</a>
        <a class="btn btn-success ml-auto btn-lg mr-3" th:href="@{/user/leagues/addLeague}">Add Competition</a>
    </div>
<br>

    <h1 align="center">Other Competitions</h1>
    <br>

    <table class="table table-striped ">
        <thead class="thead-dark">
        <tr>
            <th class="pl-4"> Competition Name </th>
            <th class="text-center"> Team </th>
            <th class="text-center"> Status </th>
            <th class="text-center"> Actions </th>
        </tr>
        </thead>

        <tbody>
        <span th:if="${participations.isEmpty()}">
            <tr><td align="center" colspan="4">No results</td></tr>
        </span>
        <span th:unless="${participations.isEmpty()}">
            <tr th:each="participation: ${participations}">
                <td class="pl-4 align-middle font-weight-bold" th:text="${participation.league.name}" />
                <td class="align-middle" align="center" th:text="${participation.team}" />
                <td class="align-middle" align="center">
                    <span class="badge badge-warning" th:if="${!participation.accepted and participation.league.status == T(com.league.model.enums.Status).TOREGISTER}">Waiting for agreement</span>
                    <span class="badge badge-primary" th:if="${participation.accepted and participation.league.status == T(com.league.model.enums.Status).TOREGISTER}">Accepted</span>
                    <span class="badge badge-success" th:if="${participation.league.status == T(com.league.model.enums.Status).ACTIVE}">Active competition</span>
                    <span class="badge badge-secondary" th:if="${participation.league.status == T(com.league.model.enums.Status).ARCHIVED}">Waiting for agreement</span>
                </td>
                <td class="align-middle" style="width: 400px" align="center">
                    <a class="btn btn-info mx-1" th:href="@{/view/league(leagueId=${participation.league.id})}">Details</a>
                    <span th:if="${participation.league.status == T(com.league.model.enums.Status).TOREGISTER}">
                        <a class="btn btn-danger mx-1" th:href="@{/user/leagues/cancelParticipation(leagueId=${participation.league.id})}"
                           onclick="if (!(confirm('Are you sure you want to cancel your participation in this competition?'))) return false">Cancel</a>
                    </span>
                </td>
            </tr>
        </span>
        </tbody>
    </table>

</div>
</body>
</html>