<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Match details page</title>
</head>
<body>
<div class="p-3 mb-2 bg-dark text-white navbar fixed-top" style="height: 70px;">
    <div class="container d-flex" align="center">
        <a class="btn btn-dark font-weight-bold" th:href="@{/user/index}">Home</a>
        <a class="btn btn-dark font-weight-bold" th:href="@{/user/leagues/myLeagues}">My Leagues</a>
        <a class="btn btn-dark font-weight-bold" th:href="@{/user/teams/myTeams}">My Teams</a>
        <a class="btn btn-dark font-weight-bold" th:href="@{/user/players/myPlayers}">My Players</a>
        <a class="ml-auto btn btn-dark font-weight-bold" th:href="@{/logout}">Log Out</a>
    </div>
</div>
<br><br><br><br>


<div class="container" align="center">
    <h1 th:text="${league.name}"/>

    <table class="table table-bordered table-striped" align="center">
        <thead class="thead-dark">
        <tr align="center">
            <th> #</th>
            <th class="text-left"> Team Name</th>
            <th> Played</th>
            <th> Wins</th>
            <th> Draws</th>
            <th> Loses</th>
            <th> Scored</th>
            <th> Conceded</th>
            <th> +/-</th>
            <th> Points</th>
        </tr>
        </thead>

        <tbody>
        <tr align="center" th:each="team: ${standings}">
            <td style="width: 15px;" th:text="${standings.indexOf(team)+1}+."/>
            <td align="left" style="width: 400px;" th:text="${team.name}"/>
            <td style="width: 100px;" th:text="${team.numberOfMatches()}"/>
            <td style="width: 100px;" th:text="${team.wins}"/>
            <td style="width: 100px;" th:text="${team.draws}"/>
            <td style="width: 100px;" th:text="${team.loses}"/>
            <td style="width: 100px;" th:text="${team.scoredGoals}"/>
            <td style="width: 100px;" th:text="${team.concededGoals}"/>
            <td style="width: 100px;" th:text="${team.balance}"/>
            <td style="width: 100px;" th:text="${team.points}"/>
        </tr>
        </tbody>

    </table>

    <div class="d-flex">
        <div class="ml-3"><a class="btn btn-secondary p2" th:href="@{/user/leagues/myLeagues}">Back to Leagues Panel</a></div>
        <div class="input-group ml-auto mr-5" style="width: 800px">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Share your league URL:</span>
            </div>
            <input type="text" class="form-control pl-3" readonly id="basic-url" aria-describedby="basic-addon3" th:value="'http://localhost:8080/view/league?leagueId='+${league.id}"/>
        </div>
    </div>

    <br>
    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/user/leagues/manageActiveLeague(leagueId=${league.id})}">Schedule</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/user/leagues/topScorers(leagueId=${league.id})}">Top Scorers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" th:href="@{/user/leagues/ownGoals(leagueId=${league.id})}">Own Goals</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/user/leagues/yellowCards(leagueId=${league.id})}">Yellow Cards</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/user/leagues/redCards(leagueId=${league.id})}">Red Cards</a>
        </li>
    </ul>
    <br>

    <table class="table table-striped" style="width: 890px">
        <thead class="thead-dark">
        <tr>
            <th class="text-center"><img width="30" height="30" th:src="@{/images/ownGoal.png}"/></th>
            <th colspan="2" class="text-center align-middle pr-5" ><h4 class="pr-5"> Own Goals Scorers</h4></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="player: ${ownGoals}">
            <td class="align-middle" style="width: 90px;" align="center" th:text="${player.ownGoals}"/>
            <td class="align-middle" style="width: 450px;" align="left" th:text="${player.surname}+' '+${player.name}"/>
            <td class="align-middle" style="width: 350px;" align="left" th:text="${player.team.name}"/>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>