<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>Index page</title>
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container">
            <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarToggleExternalContent">
                <ul class="navbar-nav mr-auto">
                    <a class="btn btn-dark font-weight-bold" th:href="@{/}">Home</a>
                    <a class="btn btn-dark font-weight-bold ml-1" th:href="@{/competitionsBase}">Leagues Base</a>
                    <a class="btn btn-dark font-weight-bold ml-1" th:href="@{/user/leagues/myLeagues}">Leagues</a>
                    <a class="btn btn-dark font-weight-bold ml-1" th:href="@{/user/teams/myTeams}">Teams</a>
                    <a class="btn btn-dark font-weight-bold ml-1" th:href="@{/user/players/myPlayers}">Players</a>
                    <a sec:authorize="hasRole('ADMIN')" class="btn btn-dark font-weight-bold ml-1" th:href="@{/admin/index}">Admin</a>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <form class="form-inline my-2 my-lg-0 mx-auto" action="#" th:action="@{/search}" method="GET">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" th:name="phrase">
                        <button class="btn btn-success my-2 my-sm-0 mx-auto" type="submit">Search</button>
                    </form>
                    <a class="btn btn-dark font-weight-bold ml-1" th:href="@{/logout}">Log Out</a>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container d-flex justify-content-center">
    <div style="width: 750px">
        <h1>Starting League</h1>
        <br>
        <form action="#" th:action="@{/user/leagues/startLeagueProceed}"
              th:object="${league}" method="POST">
            <input type="hidden" th:field="*{id}">

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">League Name</label>
                <div class="col-sm-9">
                    <input class="form-control px-2" type="text" th:field="*{name}" placeholder="League Name">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Rematch</label>
                <div class="col-sm-9">
                    <select class="form-control px-2" th:field="*{rematch}">
                        <option th:value="false" text="No">No</option>
                        <option th:value="true" text="Yes">Yes</option>
                    </select>
                </div>
            </div>

            <div class="d-flex">
                <a  class="btn btn-secondary my-1" th:href="@{/user/leagues/myLeagues}">back to My Leagues</a>
                <button type="submit" class="btn btn-success btn-lg ml-auto">Start league!</button>
            </div>

        </form>
    </div>
</div>

</body>
</html>