<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>Index page</title>
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container">
            <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarToggleExternalContent">
                <ul class="navbar-nav mr-auto">
                    <a class="btn btn-dark font-weight-bold" th:href="@{/}">Home</a>
                    <a class="btn btn-dark font-weight-bold" th:href="@{/competitionsBase}">Leagues Base</a>
                    <a class="btn btn-dark font-weight-bold" th:href="@{/user/leagues/myLeagues}">Leagues</a>
                    <a class="btn btn-dark font-weight-bold" th:href="@{/user/teams/myTeams}">Teams</a>
                    <a class="btn btn-dark font-weight-bold" th:href="@{/user/players/myPlayers}">Players</a>
                    <a sec:authorize="hasRole('ADMIN')" class="btn btn-dark font-weight-bold" th:href="@{/admin/index}">Admin Panel</a>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <form class="form-inline my-2 my-lg-0 mx-auto" action="#" th:action="@{/search}" method="GET">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" th:name="phrase">
                        <button class="btn btn-success my-2 my-sm-0 mx-auto" type="submit">Search</button>
                    </form>
                    <a class="btn btn-dark font-weight-bold" th:href="@{/logout}">Log Out</a>
                </ul>
            </div>
        </div>
    </nav>
</header>

<br><br><br><br>


<div class="container" align="center">
    <h1 th:text="${league.name}"/>

    <table class="table table-bordered table-striped" align="center">
        <thead class="thead-dark">
        <tr align="center">
            <th> #</th>
            <th class="text-left"> Team Name</th>
            <th> Played</th>
            <th> Wins</th>
            <th> Draws</th>
            <th> Loses</th>
            <th> Scored</th>
            <th> Conceded</th>
            <th> +/-</th>
            <th> Points</th>
        </tr>
        </thead>

        <tbody>
        <tr align="center" th:each="team: ${standings}">
            <td style="width: 15px;" th:text="${standings.indexOf(team)+1}+." />
            <td align="left" style="width: 400px;" th:text="${team.team.name}" />
            <td style="width: 100px;" th:text="${team.getNumberOfMatches()}" />
            <td style="width: 100px;" th:text="${team.wins}"/>
            <td style="width: 100px;" th:text="${team.draws}"/>
            <td style="width: 100px;" th:text="${team.loses}"/>
            <td style="width: 100px;" th:text="${team.scoredGoals}"/>
            <td style="width: 100px;" th:text="${team.concededGoals}"/>
            <td style="width: 100px;" th:text="${team.balance}"/>
            <td style="width: 100px;" th:text="${team.points}"/>
        </tr>
        </tbody>

    </table>

    <div class="d-flex">
        <div class="ml-3"><a class="btn btn-secondary p2" th:href="@{/user/leagues/myLeagues}">Back to Leagues Panel</a></div>
        <div class="input-group ml-auto mr-5" style="width: 800px">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Share your league URL:</span>
            </div>
            <input type="text" class="form-control pl-3" readonly id="basic-url" aria-describedby="basic-addon3" th:value="'http://localhost:8080/view/league?leagueId='+${league.id}"/>
        </div>
    </div>

    <br>
    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/user/leagues/manageActiveLeague(leagueId=${league.id})}">Schedule</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/user/leagues/topScorers(leagueId=${league.id})}">Top Scorers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/user/leagues/ownGoals(leagueId=${league.id})}">Own Goals</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" th:href="@{/user/leagues/yellowCards(leagueId=${league.id})}">Yellow Cards</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/user/leagues/redCards(leagueId=${league.id})}">Red Cards</a>
        </li>
    </ul>
    <br>

    <table class="table table-striped" style="width: 890px">
        <thead class="thead-dark">
        <tr>
            <th class="text-center"><img width="30" height="30" th:src="@{/images/yellow-card.png}"/></th>
            <th colspan="2" class="text-center align-middle pr-5" ><h4 class="pr-5"> Yellow Cards List</h4></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="player: ${yellowCards}">
            <td class="align-middle" style="width: 90px;" align="center" th:text="${player.yellowCards}"/>
            <td class="align-middle" style="width: 450px;" align="left" th:text="${player.player.surname}+' '+${player.player.name}"/>
            <td class="align-middle" style="width: 350px;" align="left" th:text="${player.player.team.name}"/>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>