<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>Index page</title>
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container">
            <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarToggleExternalContent">
                <ul class="navbar-nav mr-auto">
                    <a class="btn btn-dark font-weight-bold" th:href="@{/}">Home</a>
                    <a class="btn btn-dark font-weight-bold ml-1" th:href="@{/competitionsBase}">Leagues Base</a>
                    <a sec:authorize="isAuthenticated()">
                        <a class="btn btn-dark font-weight-bold ml-1" th:href="@{/user/leagues/myLeagues}">Leagues</a>
                        <a class="btn btn-dark font-weight-bold ml-1" th:href="@{/user/teams/myTeams}">Teams</a>
                        <a class="btn btn-dark font-weight-bold ml-1" th:href="@{/user/players/myPlayers}">Players</a>
                    </a>
                    <a sec:authorize="hasRole('ADMIN')" class="btn btn-dark font-weight-bold ml-1" th:href="@{/admin/index}">Admin</a>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <form class="form-inline my-2 my-lg-0 mx-auto" action="#" th:action="@{/search}" method="GET">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" th:name="phrase">
                        <button class="btn btn-success my-2 my-sm-0 mx-auto" type="submit">Search</button>
                    </form>
                    <a sec:authorize="isAuthenticated()">
                        <a class="btn btn-dark font-weight-bold ml-1" th:href="@{/logout}">Log Out</a>
                    </a>
                    <a sec:authorize="!isAuthenticated()">
                        <a class="btn btn-dark font-weight-bold ml-1" th:href="@{/login}">Log In</a>
                        <a class="btn btn-dark font-weight-bold ml-1" th:href="@{/registration}">Sign up</a>
                    </a>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container" align="center">
    <br>
        <div align="center">
            <h3><a th:text="${league.name}"/></h3>
        </div>
        <div class="table-responsive">
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <td class="align-middle font-weight-bold w-50 text-right">Organizer:</td>
                    <td class="align-middle" th:text="${league.user.userName}"/>
                </tr>
                <tr>
                    <td class="align-middle font-weight-bold text-right">Type of competition:</td>
                    <td class="align-middle" th:text="${league.type.getDisplayValue()}"/>
                </tr>
                <tr>
                    <td class="align-middle font-weight-bold text-right">Season:</td>
                    <td class="align-middle">
                        <span th:if="${league.season}==0">-</span>
                        <span th:unless="${league.season}==0" th:text="${league.season}"></span>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle font-weight-bold text-right">Expected number of teams:</td>
                    <td class="align-middle" th:text="${league.number}"/>
                </tr>
                <tr>
                    <td class="align-middle font-weight-bold text-right">Voivodeship:</td>
                    <td class="align-middle">
                        <span th:if="${league.voivodeship}==null">-</span>
                        <span th:unless="${league.voivodeship}==null" th:text="${league.voivodeship.name}"></span>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle font-weight-bold text-right">County:</td>
                    <td class="align-middle">
                        <span th:if="${league.county}==null">-</span>
                        <span th:unless="${league.county}==null" th:text="${league.county.name}"></span>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle font-weight-bold text-right">City:</td>
                    <td class="align-middle">
                        <span th:if="${league.city}==null">-</span>
                        <span th:unless="${league.city}==null" th:text="${league.city}"></span>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle font-weight-bold text-center" colspan="2">Details:</td>
                </tr>
                <tr>
                    <td class="align-middle text-center" colspan="2">
                        <span th:if="${league.details}==''">-</span>
                        <span th:unless="${league.details}==null" th:text="${league.details}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <span th:if="${team} == null">
            <div class="w-50 p-3">
                <a th:href="@{/user/leagues/signUp(leagueId=${league.id})}" class="btn btn-success btn-lg btn-block"
                   role="button" aria-pressed="true">Sign up my team</a>
            </div>
        </span>
</div>

<div class="container d-flex justify-content-center">
    <div style="width: 750px">
        <span th:unless="${team} == null">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <td class="lead align-middle font-weight-bold" align="center"
                        colspan="2">Your team connected with this competition:</td>
                </tr>
                <tr>
                    <td class="lead align-middle font-weight-bold" align="center" th:text="${team.name}"/>
                    <td align="center">
                        <a class="btn btn-danger mx-1" th:href="@{/user/leagues/cancelParticipation(leagueId=${league.id})}"
                           onclick="if (!(confirm('Are you sure you want to cancel your participation in this competition?'))) return false">Cancel</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </span>
        <br>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th class="pl-3">#</th>
                <th>List of Accepted Teams</th>
                <th>User</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="participation: ${participations}">
                <td class="pl-3 align-middle font-weight-bold" th:text="${participations.indexOf(participation)+1}+'.'"/>
                <td class="align-middle" th:text="${participation.team.name}"/>
                <td class="align-middle" th:text="${participation.team.user.userName}"/>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>