<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>Index page</title>
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container">
            <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarToggleExternalContent">
                <ul class="navbar-nav mr-auto">
                    <a class="btn btn-dark font-weight-bold" th:href="@{/}">Home</a>
                    <a class="btn btn-dark font-weight-bold" th:href="@{/competitionsBase}">Leagues Base</a>
                    <a sec:authorize="isAuthenticated()">
                        <a class="btn btn-dark font-weight-bold" th:href="@{/user/leagues/myLeagues}">Leagues</a>
                        <a class="btn btn-dark font-weight-bold" th:href="@{/user/teams/myTeams}">Teams</a>
                        <a class="btn btn-dark font-weight-bold" th:href="@{/user/players/myPlayers}">Players</a>
                    </a>
                    <a sec:authorize="hasRole('ADMIN')" class="btn btn-dark font-weight-bold" th:href="@{/admin/index}">Admin Panel</a>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <form class="form-inline my-2 my-lg-0 mx-auto" action="#" th:action="@{/search}" method="GET">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" th:name="phrase">
                        <button class="btn btn-success my-2 my-sm-0 mx-auto" type="submit">Search</button>
                    </form>
                    <a sec:authorize="isAuthenticated()">
                        <a class="btn btn-dark font-weight-bold" th:href="@{/logout}">Log Out</a>
                    </a>
                    <a sec:authorize="!isAuthenticated()">
                        <a class="btn btn-dark font-weight-bold" th:href="@{/login}">Log In</a>
                        <a class="btn btn-dark font-weight-bold" th:href="@{/registration}">Sign up</a>
                    </a>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container" align="center">

    <h1 th:text="${league.name}" />

    <ul class="nav nav-tabs justify-content-center mt-3">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/view/league(leagueId=${league.id})}">Standings & Schedule</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" th:href="@{/view/topScorers(leagueId=${league.id})}">Top Scorers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/view/ownGoals(leagueId=${league.id})}">Own Goals</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/view/yellowCards(leagueId=${league.id})}">Yellow Cards</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/view/redCards(leagueId=${league.id})}">Red Cards</a>
        </li>
    </ul>
    <br>

    <table class="table table-striped" style="width: 890px">
        <thead class="thead-dark">
        <tr>
            <th class="text-center"><img width="30" height="30" th:src="@{/images/goal.png}"/></th>
            <th colspan="2" class="text-center align-middle pr-5" ><h4 class="pr-5"> Top Scorers</h4></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="scorer: ${topScorers}">
            <td class="align-middle" style="width: 90px;" align="center" th:text="${scorer.goals}"/>
            <td class="align-middle" style="width: 450px;" align="left" th:text="${scorer.player.surname}+' '+${scorer.player.name}"/>
            <td class="align-middle" style="width: 350px;" align="left" th:text="${scorer.player.team.name}"/>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>